@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=cyrillic');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #858585;
	background: #fdfcfb;
}
header {
	margin: 100px 0 80px;
}
.menu .container {
	position: relative;
}
.collapse #main-menu {
	float: left;
	display: block;
}
#main-menu {
	padding:0;
}

.globe {
	font-size: 25px;
	line-height: 50px;
	position: absolute;
	right: 30px;
	cursor: pointer;
	color: #d0cecf;
	display: none;
}

.menu {
	background: #fefefe;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	padding: 15px 0;
}
.navbar-brand {
	padding-right: 80px;
}
.navbar-brand img {
	position: relative;
	top: -90px;
}
.navbar-default .navbar-nav > li > a {
	color: #8d8c8c;
	font-size: 18px;
	text-transform: uppercase;
}
.navbar-default .navbar-nav > li.current-menu-item > a {
	border-bottom: 1px solid #6b1f5e;
	color: #8d8c8c;
}
.navbar-default .navbar-nav:not(.social) > li > a:hover {
	border-bottom: 1px solid #6b1f5e;
	color: #8d8c8c;
}
.social li a {
	padding: 15px;
}

@media only screen and (max-width: 1090px) {
	.navbar-brand {
		padding-right: 30px;
	}

	.globe {
		display: block;
	}
	.social {
		display: none;
		position: absolute;
		right: 30px;
		top: 40px;
	}
	.social li {
		float: none;
	}
	.social li a{
		padding: 5px 13px;
	}
}
@media only screen and (min-width: 1091px) {
	.social {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	.menu {
		padding: 0;
	}
	.navbar-header img {
		max-height: 50px;
		top: -15px; 
	}
	.collapse #main-menu {
		width: 100%;
    	display: block;
}
	.social {
		display: block !important;
		position: relative;
		right: 0;
		top: 0;
	}
	.social li {
		display: inline-block;
	}
	.globe {
		display: none;
	}
	.navbar-default .navbar-nav > li.current-menu-item > a {
		border-bottom: 0;
		background: #6b1f5e;
		color: #fefefe;
	}
	.navbar-default .navbar-nav:not(.social) > li > a:hover {
		border-bottom: 0;
		background: #6b1f5e;
		color: #fefefe;
	}

}

/*POSTS*/

article, div.comments-area  {
	background: #fefefe;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	padding: 15px;
	margin: 0 30px 40px 30px;
}
.updated {
	display: none;
}
aside > section {
	background: #fefefe;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	padding: 15px;
	margin: 0 30px 15px 10px;
}
article > header {
	margin: 0; 
} 
article > header > a > img,
div.entry-content > p > img {
	padding: 15px;
	height: auto;
} 
article > header > h2,
aside > section > h2,
article > header > h1  {
	padding: 0 15px;
}
aside > section > h2 {
	line-height: 40px;
}
article > header > h2 > a,
aside > section > h2,
article > header > h1 {
	color: #A33A92;
}
div.col-md-8 > main > article > header > h1,
div.col-md-4 > aside > section > h2   {
	border-bottom: 1px #A33A92 solid;
}

aside > section > ul {
	list-style-type: none;
	padding: 0 15px;
}
aside > section > ul > li > a,
aside > section > ul > li > a:hover {
	color: #464646;
}
.cat-item {
	list-style-position:inside;
    border: 1px solid #A33A92;
    display: inline-block;
    text-transform: lowercase;
    background: none repeat scroll 0 0 #A33A92;
	opacity: 0.5;
	font-size: 12px; /*размер шрифта */
	line-height: 12px;
	padding: 8px 14px; /*внутренние отступы */
	text-decoration: none;
}
.cat-item > a {
	color: #FFFFFF;
}
.cat-item:hover {
	opacity: 1;
}
.cat-item a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

article > header > h2 > a:hover {
	text-decoration: none;
	color: #464646;
}
article > footer {
	display: none;
}
.entry-meta {
	padding: 0 15px 10px;
}
.entry-meta > .posted-on > a ,
.entry-meta > .byline > .author > a ,
.entry-meta > a:hover{
	color: #35132F;
}
.entry-content {
	padding: 0 15px;
}
.entry-content > p {
	font-size: 14px;
	color: #464646;
}
.more-link {
	background: none repeat scroll 0 0 #A33A92;
	opacity: 0.5;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	line-height: 12px;
	padding: 8px 14px;
	text-decoration: none;
	margin-top: 15px;
}
a.more-link:hover {
	color: #FFFFFF;
	text-decoration: none;
	opacity: 1;
}
div.comments-area > div.comment-respond > h3 {
	padding: 0 15px;
    color: #A33A92;
}
div.comments-area > div.comment-respond > form {
	padding: 0 15px 15px;
}
div.comments-area > div.comment-respond > form > p > a {
	color: #35132F;
}
div.comments-area > div.comment-respond > form > p > label {
    display: none;
}
input.submit {
	background: none repeat scroll 0 0 #A33A92;
	opacity: 0.5;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	line-height: 12px;
	padding: 8px 14px;
	text-decoration: none;
	margin-top: 15px;
	border: none;
}
input.submit:hover {
	color: #FFFFFF;
	text-decoration: none;
	opacity: 1;
}
/*PAGINATION*/

nav.nav-pagination {
	width: 100%;
	text-align: center;
}
.pagination > li > a, 
.pagination > li > span {
	color: #A33A92;
}
.pagination > li > a:hover, 
.pagination > li > span {
	color: #A33A92;
	background: none repeat scroll 0 0 #A33A92;
	color: #FFFFFF;
}


/*FOOTER*/

footer {
	margin-bottom: 10px;
}
footer hr {
	border-color: #A33A92;
}